
<html>
<% @students.each do |student| %> 

   <li class="home-blog-post">
                <div class="blog-thumb">
                  <img width="360" height="140" src="http://placekitten.com/360/140" class="attachment-blog-thumb wp-post-image" alt="">
                </div>

                <div class="blog-title">
                  <div class="big-comment"><h3><a href="students/<%= student.id %>"><%= student.name %></a></h3></div>
                  <p class="home-blog-post-meta">REPLACE WITH TAG LINE</p>
                </div>
                <div class="clear"></div>

                <div class="excerpt">
                  <p>REPLACE WITH DESCRIPTION</p>
                </div>
                <div class="clear"></div>
              </li>

</body>
<% end %>
</html>


