<html>
<body>

    <!-- Begin Content -->
    <div class="container">

      <!-- Begin Title Content -->
      <div class="page-title">
        <h2>Every Story Has Heroes</h2>
        <h3>We're 32 people on a journey to learn to love code.</h3>
      </div>
      <!-- End Title Content -->

      <!-- Begin Student Index -->
      <div id="random-full-width-content" class="this-div-is-just-a-helpful-container">
        <div class="section section-services student-index">
          <div class="section-title">
            <span>Flatiron School Class 002</span>
          </div>
        </div>


        <div class="section section-blog">
          <div class="home-blog clearfix">
            <ul>

              <!-- Begin 3 Student Row -->
              <%= yield %>
           
             
              <!-- End 3 Student Row -->


            </ul>
          </div>
        </div>
      </div>
      <!-- End Student Index -->

    </div>
    <div class="clear"></div>
    <!-- End Content -->
  </div>
  <!-- End Main Wrapper -->



  